@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ========== BASE ========== */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(background_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    color: black;
    margin: 0;
    height: 100%;
}

h1, h4, h3 {
  font-family: "Kaisei Decol", serif;
}

/* ========== HERO / QUOTE SECTION ========== */
#mega {
  font-size: 52px;
}

#author {
  text-align: right;
  padding-right: 35%;
  margin-top: -35px;
}

#small {
  font-size: 12px;
  font-weight: 1000;
  margin-bottom: -45px;
  color: #C7B273;
}

.qp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-top: 50px;
  margin: 0 auto;
}

.quote {
  width: 50%;
  max-height: 100vh;
  display: inline-block;
}

.pershkrim {
  font-weight: 150;
  text-align: justify;
  width: 50%;
  max-height: 100vh;
  display: inline-block;
}

/* ========== INFO BOX SECTION ========== */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-top: 50px;
  margin: 0 auto;
}

.boxes {
  width: 30%;
  max-height: 100vh;
  background-color: #EBEBEB;
  display: inline-block;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cont {
  font-weight: 150;
  text-align: left;
  padding: 30px 40px 60px 40px;
}

/* ========== RESPONSIVE DESIGN ========== */
@media screen and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    padding-top: 50px;
    margin: 0 auto;
  }

  .boxes {
    width: 100%;
    margin-bottom: 25px;
    background-color: #EBEBEB;
    display: inline-block;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .qp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    padding-top: 50px;
    margin-top: -100px;
  }

  .quote {
    width: 100%;
    max-height: 100vh;
    display: inline-block;
  }

  .pershkrim {
    font-weight: 150;
    text-align: justify;
    width: 100%;
    max-height: 100vh;
    display: inline-block;
  }
}

/* Keep the hero from hiding under the sticky navbar */
.qp {
  /* navbar height is defined in indexnav.css as --nav-h */
  padding-top: calc(var(--nav-h) + 24px);
}

/* Make in-page links land below the navbar */
#sherbimet,
#rreth-nesh,
#tarifat {
  scroll-margin-top: calc(var(--nav-h) + 20px);
}

/* Optional: fine-tune on small screens */
@media (max-width: 900px) {
  .qp { padding-top: calc(var(--nav-h) + 16px); }
}
